<script type="text/javascript">
function upload(oldUrl,id) {
	var of = $('#uploadFile'+id);
	if(of.val()=='') {
		alert("请选择要上传的图片！");
		return;
	}
	$('#fileContent').empty();
	$('#fileContent').append(of);
	//$('#ufc').html('');
	$('#ufc'+id).append(of.clone());
	$('#oldPicUrl').val(oldUrl);
	of.attr('id','');
	of.attr('name','file');
	$("#uploadForm").attr("action","uploadPhoto.do?id="+id);
	$('#uploadForm').submit();
   
}

</script>
<form id="uploadForm" action="" method="post" enctype="multipart/form-data" target="hiddenIframe" style="display:none;width:0px;height:0px;">
<span id="fileContent"></span>
<input type="hidden" name="oldPicUrl" value="" id="oldPicUrl">
</form>
<iframe name="hiddenIframe" frameborder="0" border="0" style="display:none;width:0px;height:0px;"></iframe>