<?xml version="1.0" encoding="UTF-8"?>    
        
    <!DOCTYPE mapper PUBLIC     
        "-//mybatis.org//DTD Mapper 3.0//EN"    
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    <mapper namespace="com.hxx.erp.dao.CustomerDao">    	
    	<resultMap id="customerDaoMapperResultMap" type="customer">  
	        <id property="id" column="id" />  
	        <result property="name" column="name" />  
	        <result property="code" column="code" /> 
	        <result property="email" column="email" /> 
	        <result property="phone" column="phone" /> 
	        <result property="address" column="address" />
	        <result property="status" column="status" />
    	</resultMap>  
       
         <select id="get" parameterType="int" resultMap="customerDaoMapperResultMap">    
            select * from t_customer where id = #{id}   
        </select>  
        
        <insert id="add" parameterType="customer" >
            INSERT INTO t_customer (name, code, email, phone, address,status)
            VALUES(#{name},#{code}, #{email}, #{phone},#{address},#{status})
        </insert>
        
        <update id="update" parameterType="customer" >
        	update t_customer set name=#{name} ,code=#{code},email=#{email},
        	phone=#{phone},address=#{address},status=#{status}  where id=#{id}
        </update>
        <delete id="delete" parameterType="int">
        	delete from t_customer where id = #{id}
        </delete>
        <select id="query" parameterType="customer" resultMap="customerDaoMapperResultMap">    
            select * from t_customer where code = #{code}   
        </select>  
        <select id="queryList" resultMap="customerDaoMapperResultMap" parameterType="java.util.Map">
             select * from t_customer 
             <trim prefix="where" prefixOverrides="and"> 
	             <if test="status!=null">
	             	and status =#{status}
	             </if>
	             <if test="name!=null and name !=''">
	             	and name like CONCAT('%','${name}','%' ) 
	             </if>
             </trim>
			 order by id desc
        </select>
         <select id="queryListByPage" resultMap="customerDaoMapperResultMap" parameterType="java.util.Map">
             select * from t_customer 
             <trim prefix="where" prefixOverrides="and"> 
	             <if test="status!=null">
	             	and status =#{status}
	             </if>
	             <if test="type!=null and type ==''">
	              	and name like CONCAT('%','${keyword}','%' )
	              	or code like CONCAT('%','${keyword}','%' )
	              	or phone like CONCAT('%','${keyword}','%' )
	              </if>
	              <if test="type!=null and type ==1">
	              	and name like CONCAT('%','${keyword}','%' )
	              </if>
	              <if test="type!=null and type ==2">
	              	and code like CONCAT('%','${keyword}','%' )
	              </if>
	              <if test="type!=null and type ==3">
	              	and phone like CONCAT('%','${keyword}','%' )
	              </if>
             </trim>
			 order by id desc
        </select>
    </mapper>    