<?xml version="1.0" encoding="UTF-8"?>    
        
    <!DOCTYPE mapper PUBLIC     
        "-//mybatis.org//DTD Mapper 3.0//EN"    
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    <mapper namespace="com.hxx.erp.dao.LogisticsInfoDao">    	
    	<resultMap id="logisticsInfoDaoMapperResultMap" type="logisticsInfo">  
	        <id property="id" column="id" />  
	        <result property="num" column="num" />  
	        <result property="createTime" column="create_time" /> 
	        <result property="address" column="address" /> 
	        <result property="userName" column="user_name" /> 
	        <result property="status" column="status" />
	        <result property="remark" column="remark" />
	        <result property="orderId" column="order_id" />
    	</resultMap>  
       
         <select id="get" parameterType="int" resultMap="logisticsInfoDaoMapperResultMap">    
            select * from t_logistics_info where id = #{id}   
        </select>  
        
        <insert id="add" parameterType="logisticsInfo" >
            INSERT INTO t_logistics_info (num, create_time, address, user_name, status,remark,order_id)
            VALUES(#{num},#{create_time}, #{address}, #{user_name},#{status},#{remark},#{orderId})
        </insert>
        
        <update id="update" parameterType="logisticsInfo" >
        	update t_logistics_info set num=#{num} ,create_time=#{createTime},address=#{address},
        	user_name=#{userName},status=#{status},remark=#{remark},order_id=#{orderId} where id=#{id}
        </update>
        <delete id="delete" parameterType="int">
        	delete from t_logistics_info where id = #{id}
        </delete>
        
        <select id="queryList" resultMap="logisticsInfoDaoMapperResultMap" parameterType="java.util.Map">
             select * from t_logistics_info 
             <trim prefix="where" prefixOverrides="and"> 
	             <if test="status!=null">
	             	and status =#{status}
	             </if>
             </trim>
        </select>
    </mapper>    